kafka:
  config:
    heap_initial_size: 5G
    heap_max_size: 5G
    chroot_path: kafka/nextfon
    restart_on_config_change: True
    properties:
      delete.topic.enable: 'true'
    private_repo_url: http://myrepo
